# Environment variables
.env
secrets.sh

# Local certificates and PAT for Zitadel
certs/
login-client.pat

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
kubeconfig.yaml

# Kubernetes
values-secrets.yaml
values-prod.yaml
charts/
