# Environment variables
.env

# Local certificates and PAT for Zitadel
certs/
login-client.pat

# Zensical build output
site/

# Terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.DS_Store
