# Global settings
global:
  domain: "local.dev"

# Traefik
traefik:
  enabled: true
  service:
    spec:
      clusterIP: 10.96.0.50
  ports:
    web:
      nodePort: 30080
    websecure:
      nodePort: 30443

# Local PostgreSQL
zitadel-db:
  enabled: true
  fullnameOverride: "db-postgresql"
  auth:
    database: zitadel
    postgresPassword: "srdpTest123"
    username: zitadel
    password: srdpTest123
  image:
    repository: bitnamilegacy/postgresql
  metrics:
    image:
      repository: bitnamilegacy/postgres-exporter
  primary:
    persistence:
      enabled: true
      size: 4Gi
  volumePermissions:
    enabled: true
    image:
      repository: bitnamilegacy/os-shell
  tls:
    enabled: true
    certificatesSecret: postgres-cert
    certFilename: "tls.crt"
    certKeyFilename: "tls.key"

# Zitadel auth service
zitadel:
  enabled: true
  zitadel:
    masterkey: "51a69a373f45c60d2ae08c48bb89d03e" # Must be 32 characaters
    secretConfig:
      Database:
        Postgres:
          User:
            Password: srdpTest123
          Admin:
            Password: srdpTest123
    configmapConfig:
      ExternalDomain: auth.local.dev
      ExternalPort: 443
      TLS:
        Enabled: false
      FirstInstance:
        Org:
          Human:
            Password: "srdpTest123!"
            PasswordChangeRequired: false
      Database:
        Postgres:
          Host: db-postgresql
          Port: 5432
          Database: zitadel
          User:
            Username: zitadel
            SSL:
              Mode: verify-full
          Admin:
            Username: postgres
            SSL:
              Mode: verify-full
    dbSslCaCrtSecret: postgres-cert
    dbSslAdminCrtSecret: postgres-cert
    dbSslUserCrtSecret: zitadel-cert
  image:
    tag: "v4.7.2"

  ingress:
    enabled: false

  login:
    enabled: true
    ingress:
      enabled: false
    image:
      tag: "v4.7.2"

  initJob:
    annotations:
      "helm.sh/hook": post-install,post-upgrade
      "helm.sh/hook-weight": "-5"
      "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    initContainers:
      - name: wait-for-db
        image: busybox:1.36
        command: 
          - sh
          - -c
          - |
            echo "Waiting for PostgreSQL at db-postgresql:5432..."
            until nc -z -v -w 2 db-postgresql 5432; do
              echo "Waiting for DB..." 
              sleep 2; 
            done
            echo "PostgreSQL is up!"

  setupJob:
    annotations:
      "helm.sh/hook": post-install,post-upgrade
      "helm.sh/hook-weight": "5"
      "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    initContainers:
      - name: wait-for-db
        image: busybox:1.36
        command: 
          - sh
          - -c
          - |
            echo "Waiting for PostgreSQL at db-postgresql:5432..."
            until nc -z -v -w 2 db-postgresql 5432; do
              echo "Waiting for DB..." 
              sleep 2; 
            done
            echo "PostgreSQL is up!"

# O-Auth2 Proxy
oauth2-proxy:
  enabled: true
  config:
    clientID: "348868471498539436"
    clientSecret: "VQMve4Thh857uplEKmN5nlcgSedaGyYQySSDYyoMgfk4d1PS8k6zUDSdhOdo3IVW"
    cookieSecret: "VcZnfAWYCgMfNjRLvM1byUaAUs2jSvSE" # Must be 32 characters

  service:
    portNumber: 80

  extraArgs:
    skip-provider-button: "true"
    http-address: "0.0.0.0:4180" 
    cookie-secure: "false" 
    cookie-domain: ".local.dev"
    whitelist-domain: ".local.dev"
    cookie-samesite: "lax"
    cookie-expire: "168h"
    provider: "oidc"
    provider-display-name: "ZITADEL"
    oidc-issuer-url: "https://auth.local.dev"
    insecure-oidc-skip-issuer-verification: "true"
    ssl-insecure-skip-verify: "true"
    email-domain: "*"
    upstream: "file:///dev/null"
    reverse-proxy: "true"

  customRequestHeaders:
    - "Host:auth.local.dev"
    - "X-Forwarded-Proto:https"
  
  hostAliases:
    - ip: "10.96.0.50"
      hostnames:
        - "auth.local.dev"

# Marimo app
marimo:
  image:
    repository: rg.fr-par.scw.cloud/srdp-registry/marimo
    tag: "v1.0"
    pullPolicy: IfNotPresent

# Quarto app
quarto:
  image:
    repository: rg.fr-par.scw.cloud/srdp-registry/quarto
    tag: "v1.0"
    pullPolicy: IfNotPresent
